.job-list {
  max-width: $desktop;
  text-align: left;

  &__results,
  &__loading {
    padding: 2rem;

    > p {
      @extend %label;
      margin: 0 0 3.5rem;
    }
  }

  &__results {
    > ul {
      @include list-unstyled;
    }
  }
}
