<div class="office-contact">
  <div class="office-contact__container">
    <div class="office-contact__location">
      <h3>{{ location }}</h3>
    </div>
    <div class="office-contact__address">
      <p>{{ address }}</p>
    </div>
  </div>
</div>