/*
 * @file
 * Provides the layout styles for layout_twocol_50_50.
 */

.layout--twocol-50-50 {
  column-gap: 18%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5rem;
}

@media screen and (min-width: 1024px) {
  .layout--twocol-50-50 {
    grid-template-columns: repeat(2, 1fr);
  }
}
