// ================================== //
//    #CORE/HTML - FORMS
// ================================== //

// form {
// }

// button {
// }

input,
button,
textarea,
select {
  font: inherit;
}

input[type='submit'],
input[type='radio'],
input[type='checkbox'] {
  width: auto;
}

input[type='file'] {
  max-width: 30rem;
}

// input[type='submit'] {
// }

// input[type='text'] {
// }

// input[type='password'] {
// }

// input[type='radio'] {
// }

// input[type='checkbox'] {
// }

label {
  display: block;
}

textarea {
  display: block;
}

// select {
// }
