.partners-logos {
  @extend .wrapper-full;
  background-color: $black;
  color: $white;
  padding: 4rem 0;
  position: relative;

  &__wrapper {
    @extend .wrapper;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: $desktop;
    padding: 0 5rem;

    @include breakpoint($tablet) {
      flex-direction: row;
      padding: 0 6rem;
    }

    @include breakpoint($desktop) {
      padding: 0;
    }
  }

  &__content {
    @include breakpoint($tablet) {
      flex: 0 0 50%;
    }

    h4 {
      position: relative;

      &:after {
        background-color: $blue;
        bottom: -1.5rem;
        content: '';
        height: .5rem;
        left: 0;
        position: absolute;
        width: 3rem;
      }
    }
  }

  &__logos {
    align-items: center;
    align-self: initial;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include breakpoint($tablet) {
      flex: 0 0 50%;
      grid-template-columns: repeat(4, 1fr);
    }

    img {
      margin: auto;
      max-width: 10rem;
    }
  }
}
