/*
 * @file
 * Provides the layout styles for layout_threecol_25_50_25.
 */

.layout--threecol-25-50-25 {
  column-gap: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5rem;
}

@media screen and (min-width: 1024px) {
  .layout--threecol-25-50-25 {
    grid-template-columns: 1fr 2fr 1fr;
  }
}
