.cta-full {
  @extend .wrapper-full;
  padding: 2.6rem 0 6rem;
  position: relative;

  @include breakpoint($tablet) {
    padding: 8rem 0;
  }

  @include breakpoint($large-tablet) {
    padding: 12rem 0;
  }

  @include breakpoint($desktop) {
    padding: 16rem 0;
  }

  &--purple {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1400 1185'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%2302F6FF' stroke-width='1.5'%3E%3Cpath d='m131.485 1181.908 1151-587.56V.21'/%3E%3Cpath d='m497.614 1184.1 585.365-300.354V2.403'/%3E%3C/g%3E%3C/svg%3E");
    background-position: -48rem -80rem;
    background-repeat: no-repeat;
    background-size: 115.1rem 118.389rem;

    @include breakpoint($tablet) {
      background-position: 66% 60%;
    }

    &:before {
      background: linear-gradient(58deg, rgb(42 33 112) 0%, rgb(60 49 187) 64%, rgb(98 70 251) 100%);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }

  &--black {
    background: $black;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1401 1484'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%236246FB' stroke-width='1.5'%3E%3Cpath d='m577 1483 734-376.938V0'/%3E%3Cpath d='m470 1483 734-376.938V0' opacity='.8'/%3E%3Cpath d='m363 1483 734-376.938V0' opacity='.4'/%3E%3Cpath d='m256 1483 734-376.938V0' opacity='.2'/%3E%3C/g%3E%3C/svg%3E");
    background-position: -45rem -52rem;
    background-repeat: no-repeat;
    background-size: calc(135.5rem / 2) calc(148.3rem / 2);

    @include breakpoint($tablet) {
      background-position: 90% 78%;
      background-size: 135.5rem 148.3rem;
    }

    @include breakpoint(max-width $tablet - 1) {
      .cta-full__content:first-child:last-child {
        padding-top: 8rem;
      }
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    max-width: 45rem;

    @include breakpoint($tablet) {
      order: 2;
    }

    @include breakpoint(max-width $tablet - 1) {
      margin-bottom: 3rem;
    }

    img {
      max-width: 100%;
    }
  }

  &__background {
    @include breakpoint($tablet) {
      height: 100%;
      left: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      width: 100%;
    }

    @include breakpoint(max-width $tablet - 1) {
      aspect-ratio: 16 / 9;
    }

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  &__container {
    position: relative;

    @include breakpoint($tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &--left {
      @include breakpoint($tablet) {
        display: flex;
        justify-content: space-between;
      }
    }

    &--right {
      @include breakpoint($tablet) {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  &__content {
    color: $white;
    padding: 0 3rem;

    @include breakpoint($tablet) {
      max-width: 53rem;
      padding-left: 6rem;
      padding-right: 3rem;
    }

    @include breakpoint(max-width $tablet - 1) {
      &:first-child:last-child {
        padding-top: 3rem;
      }
    }

    > span {
      @include font-size(14, 20);
      color: $blue;
      display: block;
      font-weight: 400;
      letter-spacing: 2.1px;
      margin-bottom: 2rem;
      text-transform: uppercase;
    }

    .divider {
      background: $blue;
      display: block;
      height: .4rem;
      margin: 0 0 1.5rem;
      width: 2.9rem;
    }

    h2 {
      @extend %font-smoothing;
      font-weight: 100;
      line-height: 1.2;
      margin: 0;

      & + h3,
      & + .divider {
        margin-top: 1.5rem;
      }

      & + p {
        margin-top: 2.5rem;
      }
    }

    h3 {
      @include font-size(18, 30);
      font-weight: 600;
      margin: 0;

      & + .divider,
      & + p {
        margin-top: 1.5rem;
      }
    }

    p {
      @extend %font-smoothing;

      @include font-size(14, 20);
      margin: 0;
    }

    .button {
      margin-top: 3rem;
    }
  }

  &--has-bg {
    padding: 0;

    @include breakpoint($tablet) {
      padding: 8rem 0;
    }

    .cta-full__content {
      background: $near-white;
      color: $black;
      margin: -2rem auto 0;
      max-width: calc(100% - 2rem);
      padding: 3rem;

      @include breakpoint($tablet) {
        margin: 0;
        max-width: 56rem;
        padding: 6rem;
      }

      @include breakpoint($large-tablet) {
        padding: 9rem;
      }

      > span {
        color: $black;
      }
    }
  }
}
