.banner-cta {
  @extend .wrapper-full;
  background: $blue;

  &__wrapper {
    @extend %wrapper;
    align-items: flex-start;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 9rem;

    @include breakpoint($tablet) {
      align-items: center;
      flex-direction: row;
    }
  }

  &__title {
    @include font-size(18, 18);
    font-weight: 600;
    position: relative;

    @include breakpoint($tablet) {
      margin-right: 6rem;
    }
  }

  .button__icon {
    color: $purple;
  }

  .button__content {
    color: $purple;
  }

  &--dark_blue {
    background: $navy;
    color: $white;

    .button {
      color: $white;
    }

    .button__icon {
      color: $blue;
    }

    .button__content {
      color: $white;
    }
  }
}
