.job-detail {
  &__inner {
    @include container($desktop);
    position: relative;
    p {
      margin: 4rem 5rem;
      @include breakpoint($desktop) {
        margin: 4rem 0;
      }
    }

    div,
    p {
      &:first-child strong {
        &:after {
          content: '';
          display: block;
          width: 3rem;
          height: 0.5rem;
          margin-top: 3rem;
          background-color: palette(blue);
        }
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0 5rem;
      @include breakpoint($desktop) {
        margin: 0;
      }
      li {
        margin-bottom: 1.5rem;
        display: flex;
        &:before {
          content: '';
          display: block;
          min-width: 1rem;
          height: 1rem;
          margin-top: 0.5rem;
          margin-right: 4rem;
          background-color: palette(purple);
        }
      }
    }
  }

  &__back {
    padding: 2rem 0;
  }

  &__apply {
    padding: 2rem 0;
    position: absolute;
    right: 1rem;
    top: 0;
  }

  &__button {
    background-color: #f0f4f5;
    padding: 5rem;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    > div {
      max-width: 1280px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .content-conclusion {
    background-color: #f0f4f5;
    padding: 5rem 5rem 0;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    > p,
    > div {
      max-width: 1280px;
      margin-left: auto;
      margin-right: auto;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
