/*
 * @file
 * Provides the layout styles for layout_threecol_33_34_33.
 */

.layout--threecol-33-34-33 {
  column-gap: 9.6%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5rem;
}

@media screen and (min-width: 1024px) {
  .layout--threecol-33-34-33 {
    grid-template-columns: repeat(3, 1fr);
  }
}
